.academy__copyright {
  .font-set(19px, 700, 20px, #000000);
  white-space: nowrap;
  display: flex;
  padding-top: 5px;
}

.academy__copyright span {
  display: inline-block;
  margin-right: 30px;
  margin-top: 3px;
}

.academy__image {
  fill: #63d1bb;
}
