.main-nav__list {
  position: relative;
  .list-reset();
}

.main-nav__toggle {
  border: none;
  background-color: transparent;
  position: absolute;
}

.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-nav__item {
  padding-top: 25px;
  padding-left: 75px;
  padding-bottom: 29px;
  border-bottom: 1px solid @gray1;

  &:first-child {
    border-top: 1px solid @gray1;
  }

  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    display: none;
  }
}

.main-nav__link {
  .font-set(17px, 700, 24px);
}
