.order-form__set {
  border: none;
}

.order-form__legend {
  .font-set(17px, 700, 20px, #63d1bb);
}

.order-form__item input {
  border: none;
  border-bottom: 2px solid #000000;
}
.order-form__item input::placeholder,
.order-form__item textarea::placeholder {
  .font-set(17px, 400, 20px, #444444);
  opacity: 0.3;
}

.order-form__item textarea {
  border: 2px solid #000000;
}

.order-form__button {
  .font-set(17px, 700, 20px, #444444);
}
