.page-header {
  min-height: 395px;

  min-width: 320px;
  margin: 0 auto;
  padding-top: 23px;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.page-header__logo {
  width: 85px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
}
