.top-good {
  background-color: #ffffff;
}

.top-good__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 42px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position-y: bottom;
}

@media (min-width: 768px) {
  .top-good__wrapper {
    width: 768px;
    padding: 50px;
    padding-top: 42px;
    padding-bottom: 62px;
  }
}

@media (min-width: 1150px) {
  .top-good__wrapper {
    width: 1050px;
    padding-left: 175px;
    padding-right: 0;
    padding-top: 65px;
  }
}
