.top-good {
  background-color: #ffffff;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position-y: bottom;
  padding-bottom: 12px;
}

.top-good__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 768px) {
  .top-good__wrapper {
    width: 768px;
    padding: 50px;
    padding-top: 42px;
  }
}

@media (min-width: 1150px) {
  .top-good__wrapper {
    width: 1150px;
    padding-left: 225px;
    padding-top: 65px;
  }
}
