.font-set(@size: 17px, @weight: 700, @line: 20px, @color: #000000) {
  font-size: @size;
  font-weight: @weight;
  line-height: @line;
  color: @color;
}

.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
